<p><b>Welcome to the administrative interface for IReach.</b></p>

<p><b>Steps to create a newsletter</b>
<ul>
<li>Select &quot;Newsletters&quot; from the left menu</li>
<li>Select the &quot;New Newsletter&quot; link
   <ul><li>Enter a unique name for the newsletter and click &quot;Save&quot;</li></ul></li>
<li>Click on the &quot;Edit&quot; button for the new newsletter
   <ul><li>You will probably want to add the &quot;Navigation Bar&quot; element first
      <ul><li>Select &quot;Add Element&quot; next to the Nav Bar &quot;Navigation Bar&quot; element</li>
      <li>Enter the Spacer Width, and the link text and urls for the navigation bar and select &quot;Submit&quot;</li></ul></li>
   <li>Next add a Newsletter Title / Subtitle to your newsletter
      <ul><li>Select &quot;Newsletter Title / Subtitle&quot; from the dropdown next the &quot;Main area&quot; section, then select &quot;Add Element&quot;</li>
      <li>Enter your Title text, Title Font Size, Subtitle text, and Subtitle Font Size values and select &quot;Submit&quot;</li></ul></li>
   <li>Next add articles to your newsletter
      <ul><li>Select &quot;Add Element&quot; next to the Main area &quot;Article&quot; element</li>
      <li>Browse and select any images for the left and/or right image.</li>
      <li>Cut and paste the article content from your text editor (notepad probably).</li>
      <li>When you're done, select &quot;Submit&quot; to create the article.</li></ul></li></ul></li>
<li>When you're done editing the newsletter, the next step is to create a Mailing</li>
</ul></p>

<p><b>Steps to create a mailing</b>
<ul>
<li>Select &quot;Mailings&quot; from the left menu</li>
<li>Select the &quot;New Mailing&quot; button
   <ul><li>Enter an email subject</li>
   <li>You may modify the From email address if you wish</li>
   <li>Select the unique newsletter name you entered when you created the newsletter for the mailable item</li>
   <li>Select a date and time for your mailing to occur</li>
   <li>If you uncheck the &quot;Include images&quot; checkbox, the email will be sent with links to the images on the web site and the user will need to select &quot;Load images&quot; in their email program to view the images.  Otherwise the images are sent with the email as attachments.</li>
   <li>Select the checkboxes for the mailing lists you wish to deliver the mailing to</li>
   <li>When you're done, select &quot;Submit&quot; to create the mailing</li></ul></li>
<li>At this point the mailing is &quot;Pending&quot;</li>
<li>You should send yourself a test email using the &quot;Send Test&quot; button</li>
<li>When you have tested the mailing and are ready to schedule the mailing select the &quot;Schedule&quot; button</li>
<li>While the mailing is being sent the Status for the mailing should be &quot;processing&quot;. (NOTE: the page must be &quot;refreshed&quot; to see changes to the mailing status.  Select &quot;Mailings&quot; in the left navigation to refresh the page and update the mailing status.)</li>
<li>When the mailing is done, the Status should change to &quot;completed&quot;</li>
</ul>
</p>
<p>When you have successfully completed the mailing, you should have a nice glass of single malt Scotch to congratulate yourself on your technical prowess.</p>

      
