.line
{	color: #d9eabd;
	width:160px;
	background: #d9eabd;
	border:none;
	height:1px;
	margin:4px 0;
	
}

.menu {font-size: 10pt;
      font-family: helvetica, arial, sans-serif;
	  font-weight: bold;
	  line-height: 12pt;
	  color: #000000;
	  width:176px;
	  }
.menu a:link {  color: #000000; text-decoration: none; }
.menu a:visited {  color: #000000; text-decoration: none; }
.menu a:active {  color: #000000; text-decoration: none; }
.menu a:hover {  color: #Fc6; text-decoration: none; }

.category:hover {  color:#FC6; text-decoration: none; }

.menuSM {font-size: 9pt;
   font-family: helvetica, arial, sans-serif;
   font-weight: bold;
   line-height: 12pt;
   color: #a42529;
   
}
.menuSM a:link {  color:#Fff; text-decoration: none; }
.menuSM a:visited {  color: #fff; text-decoration: none; }
.menuSM a:active {  color: #fff; text-decoration: none; }
.menuSM a:hover {  color:#FC6; text-decoration: none; }

.table-bk { 
	background: url(/assets/i_reach/menuMain.gif) no-repeat top right;
   padding-top: 20px;
   padding-left:3px;
}
